@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

body {
    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25252b;
}

.box {
    position: relative;
    width: 400px;
    height: 400px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: #1c1c1c;
    border-radius: 50px 5px;
    overflow: hidden;
}

.box::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 450px;
    background: linear-gradient(60deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 450px;
    background: linear-gradient(60deg, transparent, #d9138a, #d9138a);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box form {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
    z-index: 10;
    inset: 2px;
    border: 50px 5px;
    background: #28292d;
}

.box form h2 {
    color: #fff;
    font-weight: 600;
}

.box form input {
    position: relative;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.5em;
}

.box form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.box form input[type="submit"] {
    font-weight: 600;
    color: #2d2d39;
    background-color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.box form input[type="submit"]:hover {
    background-color: #ff2770;
    color: #fff;
}

.box form .group {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.box form .group a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.box form .group a:last-child {
    color: #45f3ff;
    font-weight: 500;
}